* {
  margin: 0;
  padding: 0;
}


.navbar-container {
  background-color: #1F2937;
  color: antiquewhite;
  /* border: 3px solid cyan; */
}

.navbar {
  display: flex;
  justify-content: center;
}

.logo {
  /* font-size: 24px;
  color: #F9FAF8; */
  display: flex;
  justify-content: flex-start;
}

.logo > img{
  border-radius: 10%;
}

.links {
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid magenta; */
  padding: 0 30px;
}

.links > * {
  padding: 0 20px;
}

.header-container {
  background-color: #1F2937;
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-text{
  margin: 80px 40px;
}

.header-text > h2{
  font-weight: 600;
  font-size: 64px;
  margin-right: 50%;
  flex-wrap: wrap;
  max-width: 50rem;
}

.header-text > p{
  display: flex;
  flex-wrap: wrap;
  max-width: 50rem;
}

.header-text > button {
  background-color: #3882F6;
  color: white;
  font-weight: 700;
  border-radius: 8px;
  padding: 5px 20px;
  margin-top: 15px;
}

.header-image > img{
  height: auto;
  width: 500px;
  border-radius: 10px;
  margin: 80px;
}

@media screen and (max-width: 768px) {
  .header-image > img{
    margin: 10px;
    max-width: 95%;
  }
}

.content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  
}

.content-title {
  font-weight: bolder;
  font-size: 36px;
  padding-bottom: 75px;
}

.content-images  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.content-images > div {
  height : 300px;
  width: 350px;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  text-align: center;
}

.content-images * > img {
  width: 300px;
  height: 200px;
  padding: 0 2rem;
  border-radius: 15%;
}

.quote-container {
  background-color: #E5E7EB;
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.quote p {
  color: #1F2937;
  padding: 50px;  
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  max-width: 50rem;
}

.quote-author {
  align-self: flex-end;
  font-weight: 900;
  padding: 1rem;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #3882F6;
  padding: 50px;
  border-radius: 8px;
  color: #F9FAF8;
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.footer .text > h4 {
  font-weight: 800;
  font-size: 20px;
}

.footer > button {
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: 700;
  border-radius: 4px;
  border: solid 1px white;
  align-self: flex-end;
  margin-left: 100px;
  padding: 4px 25px;
} 

.copyright-container {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
}

.copyright-info {
  margin: 25px;
  color: #F9FAF8;
}